.blog p {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}


img {
  max-width: 100%;
  height: 419px;
  max-height: 419px;
  object-fit: cover;
  resize: both;
  border: 1px solid #99ffc3;
}

.blog {
  max-width: 628px;
  text-align: center;
  margin-top: 50px;
}

.blog a {
  text-decoration: none;
  color: black;
  font-family: 'Oswald', sans-serif;

}




/* responsive */


@media only screen and (min-width: 100px) {


  .blog {
    margin-top: 10px;
  }


}

@media only screen and (max-width: 650px) {

  .blog img {
    max-width: 88%;
  }

}



@media only screen and (min-width: 1200px) {

  .blog h3 {
    margin: 20px auto;
    font-size: 35px;
  }

}


@media only screen and (max-width: 800px) {

  .blog {
    margin: 10px auto 0px auto;
  }

}
