<section class="contact-area">
    <aside class="left">
        <img src="../../../assets/contact.jpg" alt="">
        <div class="socMedia">
            <fa-icon [icon]="faTwitter"></fa-icon>
            <fa-icon [icon]="faInstagram"></fa-icon>
            <fa-icon [icon]="faMediumM"></fa-icon>
            <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </div>
    </aside>

    <aside class="right">
        <h3>Say hey!</h3>
        <p>Whether you want to hire me or just need some advice, start here.</p>
    


          <label for="whoareyou" class="col-form-label col-whoareyou">Who Are You? *</label>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control"  aria-label="First name">
            <p class="shortTxt">First name</p>
          </div>
          <div class="col">
            <input type="text" class="form-control"  aria-label="Last name">
            <p class="shortTxt">Last name</p>
          </div>
        </div>


        <label for="youremail" class="col-form-label">Email *</label>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" aria-label="Email">
          </div>
        </div>


        <label for="yourwebsite" class="col-form-label">Website</label>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="http://" aria-label="Website">
          </div>
        </div>


        <label for="whatarelistening" class="col-form-label">What are you listening to?</label>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" aria-label="listen">
          </div>
        </div>


        
        <label for="whatarelistening" class="col-form-label">Tell me something good *</label>
        <div class="row">
          <div class="col">
            <textarea type="text" class="form-control" aria-label="listen"></textarea>
          </div>
        </div>


        <div class="talkButton">
          <button>JUST SEND IT</button>
      </div>

    </aside>
</section>