<h3 class="shortAboutTxt">“Experience is the name everyone gives to their mistakes.” – Oscar Wilde</h3>

<a href="/"><h3 class="seeMyResiume">See My Resume</h3></a>


<section class="bodySec">
<div class="doublePic">
<aside class="left">
    <img class="bodyPic" src="../../../assets/card.jpg" alt="">
    <div class="textOnHover">
        <a class="white-text" href="#">Card 1</a>
    </div>
    <div class="hover">
    </div>
</aside>
<aside class="right">
    <img class="bodyPic" src="../../../assets/card.jpg" alt="">
    <div class="textOnHover">
        <a class="white-text" href="#">Card 2</a>
    </div>
    <div class="hover">
    </div>
</aside>
</div>
<div class="Lpic">
    <img class="bodyLPic" src="../../../assets/card.jpg" alt="">
    <div class="LtextOnHover">
        <a class="white-text" href="#">Card 3</a>
    </div>
    <div class="Lhover">
    </div>
</div>
<div class="doublePic">
    <aside class="left">
        <img class="bodyPic" src="../../../assets/card.jpg" alt="">
        <div class="textOnHover">
            <a class="white-text" href="#">Card 4</a>
        </div>
        <div class="hover">
        </div>
    </aside>
    <aside class="right">
        <img class="bodyPic lastImg" src="../../../assets/card.jpg" alt="">
        <div class="textOnHover">
            <a class="white-text" href="#">Card 5</a>
        </div>
        <div class="hover">
        </div>
    </aside>
    </div>
</section>


<section class="bodyEnd">
    <div class="socMedia">
        <fa-icon [icon]="faTwitter"></fa-icon>
        <fa-icon [icon]="faInstagram"></fa-icon>
        <fa-icon [icon]="faMediumM"></fa-icon>
        <fa-icon [icon]="faLinkedinIn"></fa-icon>
    </div>
    <div class="talkButton">
        <button routerLink="contactPage">TALK TO ME</button>
    </div>
</section>