<section class="education">
    <h3>Education</h3>
    <p class="whoAmI"></p>
    <img src="../../../assets/edu.jpg" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in porta leo. Donec id gravida sem. Suspendisse elementum nunc cursus, varius dolor in, gravida augue. Sed eget libero vel risus commodo pharetra ac eget nunc. Mauris porta quam eget velit pellentesque dictum. Vivamus ut placerat nunc. Phasellus interdum, orci imperdiet laoreet ullamcorper, diam sapien porttitor enim, sed placerat ipsum nisi sed arcu. Nunc vel tincidunt mauris, vel venenatis leo. In quis urna vehicula, eleifend massa ac, aliquet risus. Vestibulum pellentesque mauris at tristique sollicitudin. Vestibulum feugiat, orci sit amet elementum dapibus, odio elit vulputate dui, vitae eleifend nisi purus in ex. Fusce id volutpat elit.</p>
   
</section>